html,body{
	height:100%;
	width:100%;
}

body{
	background:url(wp4.jpg) no-repeat center center fixed;
	background-size: cover;
}
.pageH{
	color: whitesmoke;
	font-size:3rem;
}

.buffer{
	height: 3rem;
}

.btn-primary{
	border:none;
	border-radius: 30px;
	padding: 1rem 2rem;
	translate:all 10ms ease-in-out;
}

.btn-primary:hover{	
	background-color: orange;
	transform: scale3d(1.04,1.04,1.04);
	border-radius: 40px;
}

.btn:active {
	transform: scale3d(0.9, 0.9,.09);
	background:red !important;  
}
